body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background-color: #0b0b0b;
  color: white;
}

.auth-container {
  max-width: 350px;
  margin: 100px auto;
  padding: 30px;
  border-radius: 12px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(8px);
  text-align: center;
}

.auth-container h2 {
  margin-bottom: 20px;
  color: #ff0000;
}

.auth-container input {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  border-radius: 6px;
  border: none;
  outline: none;
}

.auth-container button {
  width: 100%;
  padding: 10px;
  background-color: #e50914;
  border: none;
  color: white;
  border-radius: 6px;
  cursor: pointer;
}

.auth-container p {
  margin-top: 10px;
}



.movie-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.movie-card {
  background: #141414;
  padding: 15px;
  width: 220px;
  border-radius: 10px;
  transition: transform 0.3s;
}

.movie-card:hover {
  transform: scale(1.05);
}

.movie-card img {
  width: 100%;
  border-radius: 8px;
}
